@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.poppins {
  font-family: "Poppins", sans-serif;
}
.montserat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.bebas {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Elements */
.container {
  width: 100px;
  height: 100px;
  bottom: 20px;
  right: -50px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 120px 100px #fff, /* inner white */ 0 0 150px 90px #f0f,
    /* middle magenta */ 0 0 160px 120px #0ff; /* outer cyan */
}

.contact {
  background-color: black;
  background-image: url("/blk-wht.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-attachment: fixed;
  background-size: 1390px;
}
.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}
.parallax {
  transform-style: preserve-3d;
  transform: perspective(1000px);
  transform: translateZ(20px);
}
.glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
}
.nav {
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}
::-webkit-scrollbar {
  width: 0px;
}

/* Back to top */

.btt-btn svg {
  transform: rotate(-50deg);
  transition: 0.2s ease-out;
}

.btt-btn:hover svg {
  transform: rotate(-90deg);
}
/* CTA */
.animated-button {
  position: absolute;
  /* right: 1em; */
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #212121;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: #fff;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
  rotate: 90deg;
}

.animated-button .arr-2 {
  left: -25%;
  rotate: 90deg;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #000000;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px white;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}
/*Chatbot */
